@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label-tag {
    @apply bg-zinc-900 rounded-md px-2 py-px mt-1 ml-1
  }

  .btn-sign-in {
    @apply rounded-2xl h-12 flex flex-row justify-between items-center w-fit first:mb-3
  }

  .btn-primary {
    @apply flex flex-row justify-center items-center px-6 py-1 m-1 w-96
  }

  .icon {
    @apply h-6 w-6 mr-2 fill-white
  }
}

@layer base {
  html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  body {
    margin: 0;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #262626;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

}
